{% extends 'layouts/main12.html.twig' %}

{% block title %}Lista de doctors!{% endblock %}

{% block body %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Página principle</a></i>
                    <li class="breadcrumb-item"><a href="{{ path('doctor_index') }}">Doctors</a></i>
                    <li class="breadcrumb-item active">Añadir doctor</i>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">

            <h1>Nuevo doctor</h1>

            {{ form_start(form, {'method': 'POST'}) }}
                {{ form_errors(form) }}

                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="{{ asset('images/empty.jpg') }}" style="width:100%;" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.firstname, {'attr': {'class': 'foo'}}) }}
                        
                        {{ form_row(form.lastname) }}
                        
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(form.birthday.day) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.birthday.month) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.birthday.year, {'label': 'Year'}) }}
                            </div>
                        </div>

                        {{ form_row(form.title) }}

                        {{ form_row(form.mobile) }}

                        {{ form_row(form.years) }}
                        
                        {{ form_row(form.bio) }}
                        
                        {{ form_row(form.section_id) }}

                        {{ form_row(form.foto) }}

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                         
                    </div>
                    <div class="col-md-6">
                          
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <a href="{{ path('doctor_index') }}" class="btn btn-dark"><< Cancelar</a> 
                        <input type="submit" class="btn btn-success" value="Guardar" />
                    </div>
                </div>    

            {{ form_end(form) }}

            <br/><br/><br/>

        </div>

        <div class="col-md-4">
            {% include 'layouts/menu.html.twig' %}
        </div>
    </div>

</div>
{% endblock %}

