{% extends 'layouts/main12.html.twig' %}

{% block title %}Lista de pacientes de doctor!{% endblock %}

{% block body %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Página principle</a></i>
                    <li class="breadcrumb-item"><a href="{{ path('doctor_index') }}">Doctors</a></i>
                    <li class="breadcrumb-item"><a href="{{ path('doctor_show', {id: doctor.id}) }}">{{ doctor.firstname }} {{ doctor.lastname }}</a></i>
                    <li class="breadcrumb-item active">Lista de pacientes</i>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9" style="margin-top: 21px;">

            <div class="row">
                <div class="col-md-11">
                    <h1>{{ doctor.firstname }} {{ doctor.lastname }}</h1>
                    <h5 style="color:#6c757d;">Lista de pacientes</h5>
                </div>    
                <div class="col-md-1">
                    <div style="text-align:right;">
                    
                    </div>
                </div>
            </div>

            {% if doctor and doctor.pacientes() | length > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col" class="text-center">Nombre Apellido</th>
                        <th scope="col" class="text-center">Móvil</th>
                        <th scope="col" class="text-center">NIE</th>
                        <th scope="col" class="text-center">Foto</th>
                        <th scope="col" class="text-center">Cumpleaño</th>
                        <th scope="col" class="text-center" style="width:170px;">Acciónes</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for item in doctor.pacientes() %}
                            <tr>
                                <th class="text-center" scope="row">{{ item.id }}</th>
                                <td class="text-center"><a href="{{ path('paciente_show', {'id': item.id}) }}" title="{{ item.firstname }}" >{{ item.firstname }} {{ item.lastname }}</a> </td>
                                <td class="text-center">
                                    {% if item.mobile != null %}
                                        {{ item.mobile }}
                                    {% else %}
                                        no tiene
                                    {% endif %}
                                </td>
                                <td class="text-center" scope="row">{{ item.nie }}</td>
                                <td class="text-center">
                                    {% if item.foto != null %}
                                        <span class="badge badge-success">sí</span>
                                    {% else %} 
                                        <span class="badge badge-danger">no</span>   
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {{ item.birthday.format('d.m.Y') }}
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-list"></i> <a href="{{ path('paciente_show', {id: item.id}) }}" title="Mirar" >mirar</a>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            {% else %}
                <div style="margin-top:30px;">
                    <i>No tiene ningunas pacientes</i>
                </div>    
            {% endif %}

        </div>
        <div class="col-md-3">
            
            {% include 'layouts/menu.html.twig' %}

            {% include 'paciente/banner.html.twig' %}

        </div>
    </div>

</div>
{% endblock %}

