{% extends 'layouts/main12.html.twig' %}

{% block title %}Doctors!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12" style="background-color:#e7e7e7; margin-bottom:0;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Página principle</a></i>
                    <li class="breadcrumb-item"><a href="{{ path('doctor_index') }}">Doctors</a></i>
                    <li class="breadcrumb-item active">Los datos de doctor - {{ doctor.firstname }} {{ doctor.lastname }}</i>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">

            <br/>
            {% if doctor.firstname != null %}
                <h1>{{ doctor.firstname }} {{ doctor.lastname }}</h1>
                <h5 style="color:#6c757d;">Datos de doctor</h5>
            {% else %}
                <h1>Los datos de doctor</h1>
            {% endif %}    

            <div class="row">
                <div class="col-md-6 text-center">
                    {% if doctor.foto != null %}
                        <img src="{{ asset('uploads/doctors/fotos/' ~ doctor.foto) }}" style="width:100%;" class="img-fluid">
                    {% else %}
                        <img src="{{ asset('images/empty.jpg') }}" style="width:100%;" class="img-fluid">
                    {% endif %}    
                </div>
                <div class="col-md-6">
                    <p>
                        <b>Nombre:</b> {{ doctor.firstname }}
                    </p>
                    
                    <p>
                        <b>Apellido:</b> {{ doctor.lastname }}
                    </p>
                    
                    <p>
                        <b>Título:</b>
                        <br/> 
                        {{ doctor.title }}
                    </p>

                    <p>
                        <b>ID Doctor: </b> {{ doctor.getSectionId() }}
                    </p>

                    <p>
                        <b>Cantidad de paciente: </b> 
                        <a href="{{ path('doctor_lista', {id: doctor.id}) }}">Lista de pacientes [{{ doctor.pacientes.count() }}]</a>
                    </p>

                    <p>
                        <b>Móvil:</b> {% if doctor.mobile | length > 0 %} {{ doctor.mobile }} {% else %} no tiene {% endif %}
                    </p>

                    <p>
                        <div>
                            <b>Cumpleaños:</b> {{ doctor.getBirthday().format('d.m.Y') }}
                        </div>
                        <div> 
                            <b>Edad:</b> {{ edad.y }} 
                        </div>    
                    </p>

                    <p>
                        <b>Seniority:</b> {{ doctor.years }}
                    </p>
                    
                    <p>
                        <b>Biográfico:</b>
                        <br/> 
                        {{ doctor.bio | nl2br }}
                    </p>

                    <p>
                        <b>Activo:</b> 
                        {% if doctor.getIsActive() != null %}
                            <span class="badge badge-success">sí</span>
                        {% else %} 
                            <span class="badge badge-danger">no</span>   
                        {% endif %}
                    </p>

                    <p>
                        <b>Fecha creó:</b> {{ doctor.getCreatedAt().format('d.m.Y H:i') }}
                    </p>
                    <p>
                        <b>Fecha modifió:</b> {{ doctor.getModifiedAt().format('d.m.Y H:i') }}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" style="margin-top: 18px;">
                    <a href="{{ path('doctor_index') }}" class="btn btn-dark"><< Cancelar</a> 
                </div>
            </div>

            <br/><br/><br/>

        </div>
        <div class="col-md-3">
            
            {% include 'layouts/menu.html.twig' %}

            {% include 'paciente/banner.html.twig' %}

        </div>
    </div>
{% endblock %}

