{% extends 'layouts/main12.html.twig' %}

{% block title %}Lista de pacientes!{% endblock %}

{% block body %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Página principle</a></i>
                    <li class="breadcrumb-item"><a href="{{ path('paciente_index') }}">Pacientes</a></i>
                    <li class="breadcrumb-item active">Añadir paciente</i>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">

            <h1>Nueva paciente</h1>

            {{ form_start(form, {'method': 'POST'}) }}
                {{ form_errors(form) }}

                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="{{ asset('images/empty.jpg') }}" style="width:100%;" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.firstname, {'attr': {'class': 'foo'}}) }}
                        
                        {{ form_row(form.lastname) }}
                        
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(form.birthday.day, {'label': 'Día'}) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.birthday.month, {'label': 'Mes'}) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.birthday.year, {'label': 'Año'}) }}
                            </div>
                        </div>

                        {{ form_row(form.mobile) }}
                        
                        {{ form_row(form.email) }}
                        
                        {{ form_row(form.nie) }}
                        
                        {{ form_row(form.doctor) }}

                        {{ form_row(form.address) }}

                        {{ form_row(form.foto) }} 

                    </div>
                </div>
                
                {{ form_row(form.submit, { 'label': 'Añadir paciente' }) }}
            {{ form_end(form) }}

            <br/><br/><br/>

        </div>

        <div class="col-md-4">
            {% include 'layouts/menu.html.twig' %}
        </div>
    </div>

</div>
{% endblock %}

