{% extends 'layouts/main12.html.twig' %}

{% block title %}Lista de pacientes!{% endblock %}

{% block body %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Página principle</a></i>
                    <li class="breadcrumb-item"><a href="{{ path('paciente_index') }}">Pacientes</a></i>
                    <li class="breadcrumb-item active">Editar los datos de paciente</i>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9" style="margin-top: 21px;">

            <h1>Editar paciente</h1>

            {# read and display all message #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {{ form_start(form, {'method': 'POST'}) }}
                {{ form_errors(form) }}

                <div class="row">
                    <div class="col-md-6 text-center">
                        {% if paciente.foto != null %}
                            <img src="{{ asset('uploads/pacientes/fotos/' ~ paciente.foto) }}" style="width:100%;" class="img-fluid">
                        {% else %}
                            <img src="{{ asset('images/empty.jpg') }}" style="width:100%;" class="img-fluid">
                        {% endif %}    
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.firstname, {'attr': {'class': 'foo'}}) }}
                        
                        {{ form_row(form.lastname) }}
                        
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(form.birthday.day, {'label': 'Día'}) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.birthday.month, {'label': 'Mes'}) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.birthday.year, {'label': 'Año'}) }}
                            </div>
                        </div>

                        {{ form_row(form.mobile) }}
                        
                        {{ form_row(form.email) }}
                        
                        {{ form_row(form.nie) }}
                        
                        {{ form_row(form.doctor) }}

                        {{ form_row(form.address) }} 

                        {{ form_row(form.foto) }} 

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        
                    </div>
                    <div class="col-md-6">
                         
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <a href="{{ path('paciente_index') }}" class="btn btn-dark"><< Cancelar</a> 
                        {{ form_widget(form.submit, { 'label': 'Guardar paciente' }) }}
                    </div>
                </div>

            {{ form_end(form) }}

            <br/><br/><br/>

        </div>
        <div class="col-md-3">
            
            {% include 'layouts/menu.html.twig' %}

        </div>
    </div>

</div>
{% endblock %}

