{% extends 'layouts/main12.html.twig' %}

{% block title %}Pacientes!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12" style="background-color:#e7e7e7; margin-bottom:0;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Página principle</a></i>
                    <li class="breadcrumb-item"><a href="{{ path('paciente_index') }}">Pacientes</a></i>
                    <li class="breadcrumb-item active">Los datos de paciente - {{ paciente.firstname }} {{ paciente.lastname }}</i>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">

            <br/>
            {% if paciente.firstname != null %}
                <h1>{{ paciente.firstname }} {{ paciente.lastname }}</h1>
                <h5 style="color:#6c757d;">Datos de paciente</h5>
            {% else %}
                <h1>Los datos de paciente</h1>
            {% endif %}    

            <div class="row">
                <div class="col-md-6 text-center">
                    {% if paciente.foto != null %}
                        <img src="{{ asset('uploads/pacientes/fotos/' ~ paciente.foto) }}" style="width:100%;" class="img-fluid">
                    {% else %}
                        <img src="{{ asset('images/empty.jpg') }}" style="width:100%;" class="img-fluid">
                    {% endif %}    
                </div>
                <div class="col-md-6">
                    <p>
                        <b>Nombre:</b> {{ paciente.firstname }}
                    </p>
                    
                    <p>
                        <b>Apellido:</b> {{ paciente.lastname }}
                    </p>
                    
                    <p>
                        <div>
                            <b>Cumpleaños:</b> {{ paciente.birthday.format('d.m.Y') }}
                        </div>
                        <div>
                            <b>Edad:</b> {{ edad.y }}
                        </div>
                    </p>
                    
                    <p>
                        <b>Móvil:</b> {{ paciente.mobile }}
                    </p>
                    
                    <p>
                        <b>Corréo:</b> {{ paciente.email }}
                    </p>
                    
                    <p>
                        <b>NIE:</b> {{ paciente.nie }}
                    </p>
                    
                    <p>
                        <b>Doctor ID: </b> {{ paciente.getDoctorId() }}
                    </p>
                    <p>
                        <b>Doctor: </b> 
                        <a href="{{ path('doctor_show', {id: paciente.doctor.id}) }}">
                            {{ paciente.doctor.firstname }} {{ paciente.doctor.lastname }}
                        </a>
                    </p>    

                    <p>
                        <b>Dirección:</b><br/> {{ paciente.address | nl2br }}
                    </p>

                    <p>
                        <b>Fecha creó:</b> {{ paciente.getCreatedAt().format('j F Y H:i') }}
                    </p>

                    <p>
                        <b>Fecha modifió:</b> {{ paciente.getModifiedAt().format('d.m.Y H:i') }}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" style="margin-top: 18px;">
                    <a href="{{ path('paciente_index') }}" class="btn btn-dark"><< Cancelar</a> 
                </div>
            </div>

            <br/><br/><br/>

        </div>
        <div class="col-md-3">
            
            {% include 'layouts/menu.html.twig' %}

            {% include 'paciente/banner.html.twig' %}

        </div>
    </div>
{% endblock %}

