{% extends 'layouts/main12.html.twig' %}

{% block title %}MiHospital - Lucky{% endblock %}

{% block body %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Página principl</a></i>
                    <li class="breadcrumb-item active">Lucky</i>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8" style="margin-top:21px;">

            <h1>Lucky</h1>
            <p>Siempre hay un espacio para suerte. Preguntame y contestaré.</p>
            <div class="row">
                <div class="col-md-6 text-center">
                    <div style="border:1px solid #e7e7e7; padding:15px; height:350px; display:flex; flex-flow:row wrap; align-content:center;">
                        <div>
                            <a href="{{ path('app_lucky_number') }}">
                                <img src="/images/seis.png" class="img-fluid" /><br/>
                                Número de suerte
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div style="border:1px solid #e7e7e7; padding:15px; height:350px; display:flex; flex-flow:row wrap; align-content:center;">
                        <div>
                            <a href="{{ path('app_lucky_frase') }}">
                                <img src="/images/frase.png" class="img-fluid" /><br/>
                                Frase de suerte 
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!--ul>
                <li>
                    <a href="{{ path('app_lucky_number') }}">Lucky number</a>
                </li>
                <li>
                    <a href="{{ path('app_lucky_frase') }}">Lucky frase</a>
                </li>    
            </ul-->

        </div>

        <div class="col-md-4">
            {% include 'layouts/menu.html.twig' %}
        </div>
    </div>
</div>
{% endblock body %}

