{% extends 'layouts/main12.html.twig' %}

{% block title %}Hello Animales!{% endblock %}

{% block body %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Pagina principle</a></i>
                    <li class="breadcrumb-item active">Animales</i>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">

            <div class="row">
                <div class="col-md-8">
                    <h1>Animales</h1>
                </div>    
                <div class="col-md-4">
                    <div style="text-align:right;">
                        <a href="{{ path('animals_add') }}" class="btn btn-success">Añadir animal</a> 
                    </div>
                </div>
            </div>

            {% if animals %}
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col" class="text-center">#ID</th>
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center">Tipo de animal</th>
                        <th scope="col" class="text-center">Imagen</th>
                        <th scope="col" class="text-center">Is active</th>
                        <th scope="col" class="text-center" style="width:170px;">Acciónes</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for item in animals %}
                            <tr>
                                <th class="text-center" scope="row">{{ item.id }}</th>
                                <td class="text-center"><a href="{{ path('animals_show', {id: item.id}) }}" title="{{ item.name }}" >{{ item.name }}</a> </td>
                                <td class="text-center">
                                    {% if item.getTypeId() == 1 %}
                                        Gato
                                    {% elseif item.getTypeId() == 2 %}
                                        Perro
                                    {% elseif item.getTypeId() == 3 %}
                                        Tortoise
                                    {% else %}
                                        Otro
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if item.img != null %}
                                        <span class="badge badge-success">sí</span>
                                    {% else %} 
                                        <span class="badge badge-danger">no</span>   
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if item.getIsActive() == 1 %}
                                        <span class="badge badge-success">sí</span>
                                    {% else %} 
                                        <span class="badge badge-danger">no</span>   
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-list"></i> <a href="{{ path('animals_show', {id: item.id}) }}" title="Mirar" >mirar</a> | 
                                    <i class="fa fa-edit"></i> <a href="{{ path('animals_edit', {id: item.id}) }}" title="Editar" >editar</a> | 
                                    <i class="fa fa-bucket"></i> <a href="{{ path('animals_delete', {id: item.id}) }}" title="Borrar" onclick="return confirm('Quieres borrar este ID={{ item.id }} ?');" >borrar</a> 
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            {% else %}
                <i>Don't have animals</i>
            {% endif %}

        </div>
        <div class="col-md-3">
            
            {% include 'layouts/menu.html.twig' %}

        </div>
    </div>

</div>
{% endblock %}

