{% extends 'layouts/main12.html.twig' %}

{% block title %}Hello Animales!{% endblock %}

{% block body %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Pagina principle</a></i>
                    <li class="breadcrumb-item"><a href="{{ path('animals_index') }}">Animales</a></i>
                    <li class="breadcrumb-item active">Animal - {{ animal.name }}</i>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">

            <h1>{{ animal.name }}</h1>

            <div><b>ID:</b> {{ animal.id }}</div> <br/>

            <div><b>Type:</b> 
                {% if animal.getTypeId() == 1 %}
                    Gato
                {% elseif animal.getTypeId() == 2 %}
                    Perro
                {% elseif animal.getTypeId() == 3 %}
                    Tortoise
                {% else %}
                    Otro
                {% endif %}
            </div> <br/>
            
            <div class="descr">
                <b>Description:</b> <br/>
                {{ animal.description | nl2br }} 
            </div> <br/>
            
            <div>
                <b>Image:</b> <br/>
                <img src="{{ asset('uploads/imgs/' ~ animal.img) }}" style="widht:300px;" alt="img" />
            </div> <br/>

            <div><b>Is Active:</b> 
                {% if animal.getIsActive() == 1 %}
                    <span class="badge badge-success">sí</span>
                {% else %} 
                    <span class="badge badge-danger">no</span>   
                {% endif %}
            </div> <br/>

            <div>
                <a href="{{ path('animals_index') }}" class="btn btn-dark"><< Back</a> 
                <a href="{{ path('animals_edit', {id: animal.id}) }}" class="btn btn-success">Editar</a> 
            </div>
            
        </div>
        <div class="col-md-3">
            {% include 'layouts/menu.html.twig' %}
        </div>
    </div>

</div>
{% endblock %}

